<ion-header>
  <ion-toolbar>
    <ion-title>Dinners</ion-title>

    <ion-buttons slot="primary">
      <rd-profile></rd-profile>
      
      <!-- Permetto di creare una cena solo se già non partecipo ad una -->
      <ion-button *ngIf="paramsService.getParams().groupId && !paramsService.getParams().dinnerId" routerLink="/home/tabs/dinners/create-dinner">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="padding">
  <rd-dinner></rd-dinner>
  <rd-dinner></rd-dinner>
</ion-content>