<ion-header>
  <ion-toolbar>
    <ion-title>Elenco Cene</ion-title>
    <ion-buttons slot="primary">
      <rd-profile></rd-profile>

      <!-- Permetto di creare una cena solo se già non partecipo ad una -->
      <ion-button *ngIf="paramsService.getParams().groupId && !paramsService.getParams().dinnerId"
        routerLink="/home/tabs/dinners/create-dinner">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-refresher slot="fixed" (ionRefresh)="loadDinners($event,true,'',false)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <app-slider-filters (filter)="setFilter($event)"></app-slider-filters>
  <div *ngIf="syncInProgress">
    <ion-list>
      <div *ngFor="let n of [0,1,2]">
        <rd-dinner [dinner]="" [isSkeleton]="true"></rd-dinner>
      </div>
    </ion-list>
  </div>
  <div *ngIf="!syncInProgress">
    <ion-list *ngIf="dinnerList && dinnerList.length > 0">
      <div *ngFor="let dinner of dinnerList" (click)="goToDinner(dinner)">
        <rd-dinner [dinner]="dinner" [isSkeleton]="false"></rd-dinner>
      </div>
    </ion-list>
    <div *ngIf="!dinnerList || !dinnerList.length">
      <ion-card>
        Non sono presenti cene attive in questo momento :(
      </ion-card>
    </div>
  </div>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadDinners($event, true, 'infinite', true)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carico altre cene...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>