<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/my-dinners"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" size="large" slot="icon-only" (click)="detDinnerVotes()">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="large" slot="icon-only" routerLink="/home/chat">
        <ion-icon size="large" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div [hidden]="hasVoted === true || !bottomPanel">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3 *ngIf="dinner" class="dinner-title">Spero che la cena {{dinner.title}}
            vi sia piaciuta {{authService.getUser().userData.name}} & {{profileService.getPartner().name}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3 class="dinner-title">Ora avete 20 minuti</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3 class="dinner-title">Per completare la votazione!</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="cupertinoVotes" class="bottomPanel">
      <div style="height: 100%;" *ngIf="syncInProgress">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col style="text-align: -webkit-center;">
                  <ion-skeleton-text animated style="width: 70%; margin-top: 0.5em;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 2%">
                <ion-col style="display: flex;">
                  <ion-avatar style="left: 36%; position: relative;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-avatar style="left: 33%; position: relative; z-index: -1;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col style="text-align: -webkit-center;">
                  <ion-skeleton-text animated style="width: 70%; margin-top: 0.5em;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 2%">
                <ion-col style="display: flex;">
                  <ion-avatar style="left: 36%; position: relative;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-avatar style="left: 33%; position: relative; z-index: -1;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <app-star-rating [isSkeleton]="true" [groupId]='' [categoryId]='' [categoryName]=''>
                  </app-star-rating>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </div>
      <div style="height: 100%;" *ngIf="!syncInProgress">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <h3 style="margin: 0%; font-size: 17px" *ngIf="groupsToVote">Votazione di
                    {{groupsToVote[0].firstName}}
                    &
                    {{groupsToVote[0].secondName}}</h3>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 2%">
                <ion-col style="display: flex;">
                  <ion-avatar *ngIf="groupsToVote" style="left: 36%; position: relative;">
                    <img [src]="groupsToVote[0].firstImage">
                  </ion-avatar>
                  <ion-avatar *ngIf="groupsToVote" style="left: 33%; position: relative; z-index: -1;">
                    <img [src]="groupsToVote[0].secondImage">
                  </ion-avatar>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="voteCategories">
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[0].groupid' [categoryId]='1'
                    [categoryName]='voteCategories[0]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[0].groupid' [categoryId]='2'
                    [categoryName]='voteCategories[1]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                </ion-col>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[0].groupid' [categoryId]='3'
                    [categoryName]='voteCategories[2]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[0].groupid' [categoryId]='4'
                    [categoryName]='voteCategories[3]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="voteCategories">
                <ion-col class="ion-text-center">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[0].groupid' [categoryId]='5'
                    [categoryName]='voteCategories[4]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <h3 style="margin: 0%; font-size: 17px" *ngIf="groupsToVote">Votazione di
                    {{groupsToVote[1].firstName}}
                    &
                    {{groupsToVote[1].secondName}}</h3>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 2%">
                <ion-col style="display: flex;">
                  <ion-avatar *ngIf="groupsToVote" style="left: 36%; position: relative;">
                    <img [src]="groupsToVote[1].firstImage">
                  </ion-avatar>
                  <ion-avatar *ngIf="groupsToVote" style="left: 33%; position: relative; z-index: -1;">
                    <img [src]="groupsToVote[1].secondImage">
                  </ion-avatar>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="voteCategories">
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[1].groupid' [categoryId]='1'
                    [categoryName]='voteCategories[0]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[1].groupid' [categoryId]='2'
                    [categoryName]='voteCategories[1]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>

                </ion-col>
                <ion-col size="6">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[1].groupid' [categoryId]='3'
                    [categoryName]='voteCategories[2]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[1].groupid' [categoryId]='4'
                    [categoryName]='voteCategories[3]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="voteCategories">
                <ion-col class="ion-text-center">
                  <app-star-rating [isSkeleton]="false" [groupId]='groupsToVote[1].groupid' [categoryId]='5'
                    [categoryName]='voteCategories[4]' (ratingChange)="assignVotes($event)">
                  </app-star-rating>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button
                    [disabled]="!firstGroupVotes.firstCategory || !firstGroupVotes.secondCategory || !firstGroupVotes.thirdCategory || !firstGroupVotes.fourthCategory || !firstGroupVotes.fifthCategory || !secondGroupVotes.firstCategory || !secondGroupVotes.secondCategory || !secondGroupVotes.thirdCategory || !secondGroupVotes.fourthCategory || !secondGroupVotes.fifthCategory"
                    (click)="postDinnerVotes()">Submit
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
  <div [hidden]="hasVoted === false" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Grazie del tuo voto!</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>Tra poco potrai</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3>sapere i risultati!</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>