/* General CSS Setup */
body{
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1em;
  display: inline-block;
  position: relative;
	width: 80%;
	height: auto;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
  border-color: #666 transparent transparent transparent;

}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
  border-color: lightgrey transparent transparent transparent;
}
.right-top, body{
  background-color: lightgrey;
}

.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
  border-color: #9CC7AE transparent transparent transparent;
}
.left-top, body{
  background-color: #9CC7AE;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.msg-time{
  float:right;
  color:lightcoral;
}
.newmsg{
  display:inline-block;
  width:60%;
}
ion-icon{
  font-size: 1.5em;
  color:#9CC7AE;
}
.footer-button{
  float:right;
}

