.blur {
    filter: blur(5px);
}
ion-toolbar{
    --background:#50976a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
ion-title{
    color:white;
    font-size: 1.5em;
    margin:0px;
    width: 100%;
}
ion-img{
    width: 40px;
    position:absolute;
    top:20%;
    left:3%;
}
ion-icon{
    color:white;
}
.group{
    color:#50976a;
    position:absolute;
    right:5%;
}
ion-avatar{
    height: 50px;
    width:50px;
    border: #50976a 3px solid;
    margin-bottom: 3%;
}
.name{
    color: grey;
    margin-left: 10%;
}
ion-item{
    margin-top: 3%;
}
