<ion-card *ngIf="!isSkeleton">
  <ion-card-header>
    <ion-card-title>{{dinner.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{dinner.description}}
  </ion-card-content>
</ion-card>
<ion-card *ngIf="isSkeleton">
  <ion-card-header>
    <ion-card-title>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>