<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/dinners">Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" size="large" slot="icon-only" (click)="presentPopover($event, dinner.time)">
        <ion-icon size="large" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" fullscreen="true" slot="fixed">
  <div (click)="presentModalMapDetails(myDinnerDetails.addressesLatLng, dinnerDetails.userLatLng, bounds)" id="map"
    class="background-map"></div>
  <div class="countdown" id="countdown"></div>
  <ion-grid class="layout-grid">
    <ion-row class="notch-row">
      <ion-col style="height: 100%;">
        <div class="notch">
          <h3 class="dinner-title">{{dinner.title}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height: 100%;">
      <ion-col style="height: 100%;">
        <div class="card-body">
          <div class="dinner-meta ion-text-center">
            <ion-grid>
              <ion-row style="margin-top: 5%">
                <ion-col>
                  <h3 class="dinner-name">Cena di {{dinnerType}}</h3>
                </ion-col>
                <ion-col *ngIf="dinnerDetails.foodAllergies.length > 0">
                  <div class="foodAllergies">
                    <ion-button style="margin: 0%; color: black;" size="small" fill="clear"
                      (click)="presentModalFoodAllergies(myDinnerDetails.foodAllergies, myDinnerDetails.foodAllergiesCategories)">
                      Sono presenti intolleranze
                      <ion-icon slot="start" size="default" name="heart-circle-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center" style="padding-left: 2%;">
                  <h6 *ngIf="myDish" style="margin-bottom: 0px; margin-top: 10px;">Tu e
                    {{partnerName}}
                    dovrete cucinare {{myDish}}</h6>
                </ion-col>
              </ion-row>
              <ion-row class="ion-text-center" style="padding-top: 2%;">
                <ion-col size="1" class="ion-align-items-center">
                  <ion-icon name="time-outline"></ion-icon>
                </ion-col>
                <ion-col class="ion-text-start" style="padding-left: 2%;">
                  <h6 class="dinner-info">{{dinner.dateString}} alle {{dinner.time}}</h6>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 3%;">
                <ion-col style="display: contents;" class="ion-text-center">
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-left">
                    <img [src]="myDinnerDetails.houses.firstHouse.firstImage">
                  </ion-avatar>
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-right">
                    <img [src]="myDinnerDetails.houses.firstHouse.secondImage">
                  </ion-avatar>
                </ion-col>
                <ion-col *ngIf="myDinnerDetails.houses" class="ion-text-center">
                  <p style="margin: 0px;">{{firstDish}} a casa di
                    {{myDinnerDetails.houses.firstHouse.firstName}}
                    &
                    {{myDinnerDetails.houses.firstHouse.secondName}}</p>
                  <span>
                    <p style="margin: 0px;">Alle 21.20</p>
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="height: 40px; margin-left: 4%;" size="1">
                  <div class="dotted-line"></div>
                </ion-col>
                <ion-col class="ion-text-start">
                  <p style="margin: 0px; margin-left: 2%;">{{myDinnerDetails.houseDistances[0]}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="display: contents;" class="ion-text-center">
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-left">
                    <img [src]="myDinnerDetails.houses.secondHouse.firstImage">
                  </ion-avatar>
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-right">
                    <img [src]="myDinnerDetails.houses.secondHouse.secondImage">
                  </ion-avatar>
                </ion-col>
                <ion-col *ngIf="myDinnerDetails.houses" class="ion-text-center">
                  <p style="margin: 0px;">{{secondDish}} a casa di
                    {{myDinnerDetails.houses.secondHouse.firstName}}
                    &
                    {{myDinnerDetails.houses.secondHouse.secondName}}</p>
                  <span>
                    <p style="margin: 0px;">Alle 22.30</p>
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="height: 40px; margin-left: 4%;" size="1">
                  <div class="dotted-line"></div>
                </ion-col>
                <ion-col class="ion-text-start">
                  <p style="margin: 0px; margin-left: 2%;">{{myDinnerDetails.houseDistances[1]}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="display: contents;" class="ion-text-center">
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-left">
                    <img [src]="myDinnerDetails.houses.thirdHouse.firstImage">
                  </ion-avatar>
                  <ion-avatar *ngIf="myDinnerDetails.houses" class="avatar-right">
                    <img [src]="myDinnerDetails.houses.thirdHouse.secondImage">
                  </ion-avatar>
                </ion-col>
                <ion-col *ngIf="myDinnerDetails.houses" class="ion-text-center">
                  <p style="margin: 0px;">{{thirdDish}} a casa di
                    {{myDinnerDetails.houses.thirdHouse.firstName}}
                    &
                    {{myDinnerDetails.houses.thirdHouse.secondName}}</p>
                  <span>
                    <p style="margin: 0px;">Alle 23.00</p>
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>