<ion-content (click)="dismiss()"></ion-content>

<!-- Workaround perchè backdropDismiss non funziona siccome la modale sta davanti al ion-backdrop -->
<div style="height: 130px; position: relative;">
  <ion-avatar class="avatar">
    <img [src]="contactImage">
  </ion-avatar>
</div>
<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="user-name">{{contactName}}</h3>
  </div>
</div>

<!-- Badges -->
<rd-slider [objectsArray]="contactBadges" [type]="'badge'" [descriptionVoid]="'Il contatto non possiede alcun badge'"
  [route]="'contacts'">
</rd-slider>

<!-- Aggiunta a gruppo -->
<ion-card *ngIf="!paramsService.getParams().groupId" style="margin-bottom: 2.5%;">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button *ngIf="isInGroup === false" fill="clear" (click)="onAddToGroupRequest()">Aggiungi a gruppo
        </ion-button>
        <h3 *ngIf="isInGroup === true" style="margin-top: 10px;">{{contactName}} è già in un gruppo</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>