<ion-content (click)="dismiss()"></ion-content>
<!-- Workaround perchè backdropDismiss non funziona siccome la modale sta davanti al ion-backdrop -->
<ion-grid class="no-padding">
  <ion-row style="height: 100%;" class="ion-align-items-end">
    <ion-col>
      <ion-card>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-avatar>
                <img [src]="contactImage" />
              </ion-avatar>
            </ion-col>
            <ion-col size="10" class="ion-text-center">
              <h1>
                {{contactName}}
              </h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <rd-badge></rd-badge>
      <ion-card *ngIf="!paramsService.getParams().groupId">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button fill="clear" (click)="onAddToGroup()">Aggiungi a gruppo</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>