<ion-content (click)="dismiss()"></ion-content>
<!-- Workaround perchè backdropDismiss non funziona siccome la modale sta davanti al ion-backdrop -->
<div style="height: 130px;position: relative;">
  <ion-avatar class="avatar">
    <img [src]="contactImage">
  </ion-avatar>
</div>
<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="user-name">{{contactName}}</h3>
  </div>
</div>
<rd-badge [contactBadges]="contactBadges"></rd-badge>
<ion-card *ngIf="!paramsService.getParams().groupId" style="margin-bottom: 2.5%;">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="onAddToGroupRequest()">Aggiungi a gruppo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>