<ion-content scroll="false">
  <ion-grid>
    <ion-row class="firstrow">
      <div class="headerslide">
        <h1 *ngIf="permissionGranted === 'false'" class="titleheader">
          Consenti le notifiche così posso avvisarti sulla tua cena
        </h1>
        <h1 *ngIf="permissionGranted === 'settings'" class="titleheader">
          Purtroppo le notifiche sono obbligatorie, accedi alle impostazioni
          per attivarla
        </h1>
        <h1 *ngIf="permissionGranted === 'true'" class="titleheader">
          Sei quasi pronto per tua prima <b>Running Dinner!</b>
        </h1>
      </div>
    </ion-row>
    <ion-row [ngClass]="permissionGranted === 'true' ? 'secondrow' : 'secondrowsecond'">
      <div class="pulse">
        <ion-img class="notification" src="assets/notification.svg"></ion-img>
      </div>
    </ion-row>
    <ion-button *ngIf="permissionGranted === 'true'" class="buttonbottom" expand="block" (click)="endPermissionCheck()">
      CONTINUA
    </ion-button>
    <ion-button *ngIf="permissionGranted === 'false'" class="buttonbottom" expand="block" (click)="requestPermission()">
      CONSENTI NOTIFICHE
    </ion-button>
    <ion-button *ngIf="permissionGranted === 'settings'" class="buttonbottom" expand="block"
      (click)="forcePermissions()">
      VAI A IMPOSTAZIONI
    </ion-button>
  </ion-grid>
</ion-content>