<ion-content>
  <div class="headerslide">
    <ion-progress-bar color="secondary" value="{{this.progressvalue}}"></ion-progress-bar>
  </div>
  <ion-slides #slider color="secondary" (ionSlideDidChange)="activeIndex()">
    <ion-slide class="Slide1">
      <ion-grid>
        <ion-row class="FirstRow">
          <h1 class="titlebottom">
            Questo sarà il tuo nome utente in Running Dinner
          </h1>
        </ion-row>
        <ion-row class="SecondRow">
          <h1 class="titletop">
            Mi <br />
            chiamo
          </h1>
          <ion-input class="inputusername" placeholder="Inserisci qui il tuo nome" [(ngModel)]="username"></ion-input>
        </ion-row>
        <ion-row class="ThirdRow"> </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="Slide2">
      <ion-grid>
        <ion-row class="FirstRow">
          <h1 class="titlebottom">
            Verrà visualizzata unicamente l'età dell'utente
          </h1>
        </ion-row>
        <ion-row class="SecondRow">
          <h1 class="titletop">
            Sono <br />
            nato
          </h1>
          <ion-datetime class="inputusername" placeholder="Inserisci la tua data di nascita" [(ngModel)]="birthdate">
          </ion-datetime>
        </ion-row>
        <ion-row class="ThirdRow"> </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="Slide3">
      <ion-grid>
        <ion-row class="FirstRow">
          <h1 class="titlebottom">
            La foto profilo sarà visibile sono in forma di icona
          </h1>
        </ion-row>
        <ion-row class="SecondRow">
          <h1 class="titletop">
            Foto <br />
            Profilo
          </h1>
          <ion-avatar *ngIf="photoData" style="margin: auto" class="profilephoto">
            <ion-img class="profilephoto" src="{{ photoData }}"> </ion-img>
          </ion-avatar>
        </ion-row>
        <ion-row class="ThirdRow">
          <ion-button class="photobutton" (click)="getPicture()">
            <ion-icon style="font-size: 3em" name="camera"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="Slide4">
      <ion-grid>
        <ion-row class="FirstRow">
          <h1 class="titlebottom">
            Verrà visualizzata unicamente durante la scelta della casa
          </h1>
        </ion-row>
        <ion-row class="SecondRow">
          <h1 class="titletop">
            Mi <br />
            trovo
          </h1>
          <ion-input class="inputusername" placeholder="Inserisci qui l'indirizzo" [(ngModel)]="autocomplete.input"
            (keyup)="updateSearchResults()"></ion-input>
          <ion-list class="autocomplete">
            <ion-list [hidden]="autocompleteItems.length == 0" *ngFor="let item of autocompleteItems; let i = index">
              <ion-item *ngIf="i<3" tappable (click)="selectSearchResult(item)">
                {{ item.description }}
              </ion-item>
            </ion-list>
          </ion-list>
        </ion-row>
        <ion-row class="ThirdRow">
          <!-- <div class="map" #map></div> -->
          <img class="map-preview animate__animated animate__fadeIn" [hidden]="!mapPreview" src="{{ mapPreview }}" />
          <br />
          <ion-button *ngIf="autocomplete.input && username && birthdate && photoService.profilePhotoData"
            expand="block" strong="true" fill="outline" (click)="onSignup()" class="buttonbottom">Conferma</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>