<ion-header>
  <ion-toolbar>
    <ion-title>Dinners Chat & History</ion-title>
    <ion-buttons slot="primary">
      <rd-profile></rd-profile>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadDinners($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="myDinner">
    <rd-my-dinner (click)="goToDinner(myDinner)" [dinner]="myDinner"></rd-my-dinner>
  </div>
  <h1>Cronologia Cene</h1>
  <div *ngIf="dinnerHistoryList">
    <div *ngFor="let dinner of dinnerHistoryList">
      <rd-dinner (click)="goToDinnerWinner(dinner)" [dinner]="dinner"></rd-dinner>
    </div>
    <h2 *ngIf="dinnerHistoryList.length === 0">Non sono presenti cene passate</h2>
  </div>
</ion-content>