<ion-content scroll="false">
  <ion-grid>
    <ion-row class="firstrow">
      <div class="headerslide">
        <h1 *ngIf="permissionGranted === 'false'" class="titleheader">
          Consenti la localizzazione così posso consigliarti le cene più vicine
        </h1>
        <h1 *ngIf="permissionGranted === 'settings'" class="titleheader">
          Purtroppo la localizzazione è obbligatoria, accedi alle impostazioni
          per attivarla
        </h1>
        <h1 *ngIf="permissionGranted === 'true'" class="titleheader">
          Pochi passi alla tua prima <b>Running Dinner!</b>
        </h1>
      </div>
    </ion-row>
    <ion-row [ngClass]="permissionGranted === 'true' ? 'secondrow' : 'secondrowsecond'">
      <div class="pulse">
        <ion-img class="geolocalization" src="assets/geolocalization.svg"></ion-img>
      </div>
    </ion-row>
    <ion-button *ngIf="permissionGranted === 'true'" class="buttonbottom" expand="block"
      routerLink="/auth/notification">
      CONTINUA
    </ion-button>
    <ion-button *ngIf="permissionGranted === 'false'" class="buttonbottom" expand="block" (click)="requestPermission()">
      CONSENTI GEOLOCALIZZAZIONE
    </ion-button>
    <ion-button *ngIf="permissionGranted === 'settings'" class="buttonbottom" expand="block"
      (click)="forcePermissions()">
      VAI A IMPOSTAZIONI
    </ion-button>
  </ion-grid>
</ion-content>