<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-self-center ion-align-items-center">
      <ion-col
        class="ion-align-self-center"
        size-md="6"
        size-sm="12"
        size-xs="12"
      >
        <div class="ion-padding">
          <ion-img src="assets/Logo.png"></ion-img>
        </div>
        <div class="ion-text-center">
          <ion-label>
            Selezionando Accedi o Crea un nuovo account, accetti i nostri
            Termini. Per maggiori informazioni su come elaboriamo i tuoi dati,
            puoi consultare l'informativa sulla Privacy e sui Cookie
          </ion-label>
        </div>
      </ion-col>
      <ion-col
        class="ion-align-self-center"
        size-md="6"
        size-sm="12"
        size-xs="12"
      >
        <div>
          <ion-button
            size="large"
            shape="round"
            fill="outline"
            expand="block"
            routerLink="/sign-up/instructions"
          >
            ENTRA</ion-button
          >
        </div>
        <br />
        <div *ngFor="let debugLoginUser of debugLoginUsers">
          <ion-button
            size=" large"
            shape="round"
            fill="outline"
            expand="block"
            (click)="debugLoginToDinners(debugLoginUser.userNumber)"
          >
            DEBUG LOGIN {{debugLoginUser.userName}}</ion-button
          >
        </div>
        <br />
        <div class="ion-text-center">
          <ion-label color="primary">Non riesci ad accedere?</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
