<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-slides pager="true" [options]="slideOpts" style="height:100%;">
    <ion-slide style="Background:red;">
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide style="Background:green;">
      <h1>Slide 2</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
