<ion-content>
  <div style="height: 100%; width: 100%;" class="fade-in" (click)="dismiss()">
    <h1 style="text-align: center;">Running dinner credits</h1>

    <ion-card>
      <ion-card-content>
        <img src="assets/credits/credits.JPG" />
        <h2>L'abbiamo pensata... l'abbiamo discussa... l'abbiamo provocata... l'abbiamo amata... l'abbiamo odiata...
        </h2>
        <br>
        <h2>...e alla fine l'abbiamo creata.</h2>
        <br>
        <h2>A chi c'era, a chi c'è stato, e a chi sempre ci sarà!</h2>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h2><b>Architecture, development: </b></h2>
        <h2>Carlo Caramia</h2>
        <br>
        <h2><b>Development, graphics: </b></h2>
        <h2>Paolo Zuccaro</h2>
        <br>
        <h2><b>Graphics, development: </b></h2>
        <h2>Andrea Sfargeri</h2>

      </ion-card-content>
    </ion-card>

    <audio style="height: 0px;" #audio controls>
      <source src="assets/credits/in_the_end.ogg" type="audio/ogg">
      Mi spiace, non potrai goderti il sottofondo musicale
    </audio>
  </div>
</ion-content>