::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-toolbar {
    --background: transparent;
}

ion-grid {
    width: 100%;
    height: 100%;
    padding: 0%;
}
  
ion-row {
    width: 100%;
}

ion-col {
    align-self: center;
    padding: 0%;
}

ion-icon {
    vertical-align: middle;
    font-size: 20px;
}

.background-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.dinner-title {
    margin: 0px;
    padding-top: 8px;
}

.dinner-name {
    font-size: 17px;
    font-weight: 600;
    color: #303940;
    margin: 0%;
}

.dinner-info {
    font-size: 17px;
    font-weight: 600;
    color: #949ea6;
    margin: 0 auto;
}

.avatar-left {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
}

.avatar-right {
    width: 50px;
    height: 50px;
    display: block;
    right: 5%;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
}

.bottomPanel {
    display: block;
    margin: 20px;
    margin-top: 5px;
    text-align: center;
}

.ion-bulletin h1 {
      margin-top: 0px;
      color: #9c9c9c;
}
    
.ion-bulletin p {
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 18px;
      color: #666666;
      line-height: 1.5;
      margin-top: 0;
}

.ion-bulletin ion-button {
      height: 50px;
      font-size: 16px;
      font-weight: bold;
}

/* Codice grafica precedente

.background-map {
    width: 100%;
    height: 47%;
    position: absolute;
    top: 0px;
}

.countdown {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 59%;
    font-weight: bold;
    color: #575757;
}

.layout-grid {
    top: 41%;
    position: absolute;
}

.notch-row {
    height: 5%;
    width: 100%;
    position: relative;

    &::after {
      content: "";
    position: absolute;
    right: 0px;
    width: 17%;
    height: 42px;
    background-color: white;
    border-top-right-radius: 20px;
    } 

    &::before {
      content: "";
    position: absolute;
    left: 0px;
    width: 17%;
    height: 42px;
    background-color: white;
    border-top-left-radius: 20px;
    } 
}

.notch {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 280px;
    height: 42px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 0 0 28px 28px;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    text-align: center;
  
    &::after {
      content: "";
      position: absolute;
      top: 13.5px;
      left: 252.5px;
      width: 56px;
      height: 28px;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      background-image: radial-gradient(circle at 0 0, transparent 28px, white 0px);
    } 
  
    &::before {
      content: "";
      position: absolute;
      top: 13.5px;
      left: 0.5px;
      width: 56px;
      height: 28px;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      background-image: radial-gradient(circle at 28px 0, transparent 28px, white 0px);
    } 
}

.card-body {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    height: fit-content;
    position: absolute;
    left: 0px;
    right: 0px;
  
    .dinner-meta {
  
        .dinner-info {
            font-size: 19px;
            font-weight: 600;
            color: #949ea6;
            margin: 0 auto;
        }
    }  
}
*/