<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button text="Indietro" defaultHref="/home/tabs/my-dinners"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button shape="round" size="large" (click)="onReinitChat()">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatContent>
  <div>
    <ion-list lines="none">

      <ion-item *ngFor="let item of dinnerMessages" text-wrap>
        <div *ngIf="item.userid != user.userid" class="message">
          <ion-avatar>
            <img [src]="this.chatService.getUserChatImage(item.userid)">
          </ion-avatar>
          <div class="bubble">
            <span style="color: lightcoral">{{this.chatService.getUserChatName(item.userid)}}</span> <br>
            {{item.message}}
            <div class="corner"></div>
            <span class="time">{{item.timeofmsg}}</span>
          </div>
        </div>

        <div *ngIf="item.userid === user.userid" class="message right">
          <ion-avatar>
            <img [src]="user.profile_photo">
          </ion-avatar>
          <div class="bubble">
            <span style="color: green">{{this.chatService.getUserChatName(item.userid)}}</span> <br> {{item.message}}
            <div class="corner"></div>
            <span class="time">{{item.timeofmsg}}</span>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-textarea [(ngModel)]="newMsgText" name="newmessage" class="newmsg" placeholder="Write your message ..." #newmsg
      type="text" autoGrow="true" rows="1" maxLength="200"></ion-textarea>
    <ion-button class="sendbutton" slot="primary" (click)="sendMsg()" [disabled]="!newMsgText">
      <ion-icon class="send" name="arrow-up-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>