<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/my-dinners"></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
    <ion-buttons slot="primary">
      <ion-button shape="round" size="large" slot="icon-only" (click)="onReinitChat()">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
      <rd-profile></rd-profile>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatContent>
  <div>
    <ion-list lines="none">

      <ion-item *ngFor="let item of dinnerMessages" text-wrap>
        <div *ngIf="item.userid != user.userid" class="message">
          <ion-avatar> <img [src]="this.chatService.getUserChatImage(item.userid)"></ion-avatar>
          <div class="bubble">
            <span style="color: lightcoral">{{this.chatService.getUserChatName(item.userid)}}</span> <br>
            {{item.message}}
            <div class="corner"></div>
            <span class="time">{{item.timeofmsg}}</span>
          </div>
        </div>

        <div *ngIf="item.userid === user.userid" class="message right">
          <ion-avatar> <img [src]="user.profile_photo"></ion-avatar>
          <div class="bubble">
            <span style="color: green">{{this.chatService.getUserChatName(item.userid)}}</span> <br> {{item.message}}
            <div class="corner"></div>
            <span class="time">{{item.timeofmsg}}</span>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <form>
    <ion-toolbar>
      <ion-input [(ngModel)]="newMsgText" name="newmessage" class="newmsg" placeholder="Write your message ..." #newmsg
        (keyup.enter)="sendMsg()"></ion-input>
      <ion-button (click)="sendMsg()" [hidden]="!newMsgText" class="footer-button">
        <ion-icon name="send-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>