<ion-header #header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button shape="round" size="large" slot="icon-only" (click)="getDinnerDetails(true)">
        <ion-icon size="large" name="refresh-circle-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="large" routerLink="/home/chat" *ngIf="isMyDinner()">
        <ion-icon size="large" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onLeaveDinner()" *ngIf="isMyDinner() && !isEdit">
        <ion-icon name="person-remove" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onEditDinner()" *ngIf="isAdministrator() && !isEdit">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onSaveDinner()" *ngIf="isEdit">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" fullscreen="true" slot="fixed">
  <div style="height: 130px;position: relative;">
    <div id="mapDetails" class="avatar"></div>
  </div>
  <div *ngIf="syncInProgress">
    <div class="card-body" style="height: fit-content; margin-bottom: 2%;">
      <div class="dinner-meta ion-text-center">
        <div style="text-align: -webkit-center;">
          <ion-skeleton-text animated style="width: 50%; margin-bottom: 0.5em; margin-top: 0.5em;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%; margin-bottom: 0.5em;"></ion-skeleton-text>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="rocket-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="people-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="map-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="text-align: -webkit-center;">
          <ion-skeleton-text animated style="width: 70%; margin-bottom: 1.5em; margin-top: 1em;"></ion-skeleton-text>
        </div>
        <rd-slider [objectsArray]="" [type]="'skeleton-badge'" [descriptionVoid]="'Nessun badge presente'"
          [route]="'dinner-details'">
        </rd-slider>
      </div>
    </div>
  </div>
  <div *ngIf="!syncInProgress">
    <div class="card-body" style="height: fit-content; margin-bottom: 2%;">
      <div class="dinner-meta ion-text-center">
        <h3 *ngIf="!isEdit" class="dinner-name">{{dinner.title}}</h3>
        <ion-input *ngIf="isEdit" class="dinner-edit" [(ngModel)]="_newTitle"></ion-input>
        <h3 class="dinner-name">{{dinnerType}}</h3>
        <ion-grid>
          <ion-row style="height: 100%;">
            <ion-col *ngIf="dinnerDetails.foodAllergies.length > 0" offset="6">
              <div class="foodAllergies">
                <ion-button style="margin: 0%; color: black;" size="small" fill="clear"
                  (click)="foodAlergiesService.presentModalFoodAllergies(dinnerDetails.foodAllergies, dinnerDetails.foodAllergiesCategories)">
                  Sono presenti intolleranze
                  <ion-icon slot="start" size="default" name="heart-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 15px;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="rocket-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <h6 class="dinner-info">Partecipanti alla cena {{dinner.groupIds.length}} su 9</h6>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <h6 class="dinner-info">{{dinner.dateString}} alle {{dinner.time}}</h6>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="people-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <div *ngIf="dinner">
                <h6 *ngIf="dinner.userMinMaxAges[0] !== dinner.userMinMaxAges[1]" class="dinner-info">Età
                  partecipanti
                  dai
                  {{dinner.userMinMaxAges[0]}} ai
                  {{dinner.userMinMaxAges[1]}} anni</h6>
                <h6 *ngIf="dinner.userMinMaxAges[0] === dinner.userMinMaxAges[1]" class="dinner-info">Età
                  partecipanti
                  {{dinner.userMinMaxAges[0]}} anni</h6>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="padding-top: 2%;">
            <ion-col size="1" class="ion-align-items-center">
              <ion-icon name="map-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-start" style="padding-left: 2%;">
              <div *ngIf="dinnerDetails && dinnerDetails.avgDistance >= 0">
                <h6 class="dinner-info">Distanza media {{dinnerDetails.avgDistance}} km da te</h6>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="!isEdit" class="dinner-description">
          {{dinner.description}}
        </div>
        <ion-input *ngIf="isEdit" class="dinner-edit" [(ngModel)]="_newDescription"></ion-input>
        <rd-slider [objectsArray]="dinnerDetails.badges" [type]="'badge'" [descriptionVoid]="'Nessun badge presente'"
          [route]="'dinner-details'">
        </rd-slider>
      </div>
    </div>
  </div>

  <ion-button color="success"
    *ngIf="!paramsService.getParams().dinnerId && paramsService.getParams().groupId && dinnerDaysLeft && dinner.groupIds.length < 9"
    (click)="onJoinDinner()">Partecipa
  </ion-button>
</ion-content>