<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/dinners"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dinner.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onLeaveDinner()" *ngIf="isMyDinner()">
        <ion-icon name="person-remove" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onEditDinner()" *ngIf="isAdministrator() && !isEdit">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onSaveDinner()" *ngIf="isEdit">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    cena: {{dinner.id}}
  </ion-card>

  <h3 *ngIf="isEdit">Titolo</h3>
  <ion-input *ngIf="isEdit" [(ngModel)]="_newTitle">
  </ion-input>
  <h3 *ngIf="isEdit">Descrizione</h3>
  <ion-input *ngIf="isEdit" [(ngModel)]="_newDescription">
  </ion-input>

  <ion-button color="success" *ngIf="!paramsService.getParams().dinnerId" (click)="onJoinDinner()">Partecipa
  </ion-button>

  <!-- <ion-button color="success" (click)="runCombinazioni()">TEST
  </ion-button> -->

</ion-content>