<ion-content>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="secondary" defaultHref="/sing-up/username"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
    <ion-item>
      <h1 >My <br>birthday is</h1> 
      <ion-label position="floating">Birth date</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-label color='medium'>
        Your age will be public
      </ion-label>
    </ion-item>
  </ion-content>
  <ion-button expand="block" strong=true color='secondary' fill='outline' >Conferma</ion-button>
