<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/sign-up/username"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <h1>My <br>Birthday is</h1>
    <ion-label position="floating">Birth date</ion-label>
    <ion-datetime [(ngModel)]="birthdate"></ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-label color='medium'>
      Your age will be public
    </ion-label>
  </ion-item>
  <ion-row style="height: 10%"></ion-row>
  <ion-button [disabled]="!birthdate" expand="block" strong=true color='secondary' fill='outline'
    (click)=goToProfilePhoto()>Conferma</ion-button>
</ion-content>