<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/dinners"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea la tua cena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item>
    <ion-label position="floating">Titolo</ion-label>
    <ion-input [(ngModel)]="dinnerTitle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrizione</ion-label>
    <ion-input [(ngModel)]="dinnerDescription"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipologia</ion-label>
    <ion-select [(ngModel)]="dinnerType" placeholder="Tipologia">
      <ion-select-option *ngFor="let type of dinnerTypes" [value]="type.code">{{type.description}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-datetime [(ngModel)]="dinnerDateStr" displayFormat="DD/MM/YYYY HH:mm" placeholder="Data"></ion-datetime>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button [disabled]="!dinnerDescription" expand="block" strong=true color='secondary'
    fill='outline' (click)=onCreateDinner()>Crea Cena</ion-button>
</ion-footer>