<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="secondary" defaultHref="/sing-up/birth-date"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  <ion-content>
    <ion-item lines="none"><h1 >Choose <br> the profile image</h1> 
    </ion-item>
  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-button expand="block" strong=true color='secondary' fill='outline' routerLink="/sign-up/address-map">Conferma</ion-button>
