<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="secondary" defaultHref="/signup-up/birth-date"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <h1>Choose <br> the profile image</h1>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="12" size-sm="12" size-xs="12">
        <ion-avatar *ngIf="photoData" style="margin: auto;" class="profilephoto">
          <ion-img class="profilephoto" src="{{ photoData }}">
          </ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary" (click)="getPicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-button [disabled]="!photoService.profilePhotoData" expand="block" strong=true color='secondary' fill='outline'
  (click)="goToProfilePhoto()">Conferma</ion-button>