<ion-toolbar> </ion-toolbar>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-avatar>
        <ion-img src="contactImage"></ion-img>
      </ion-avatar>
    </ion-card-subtitle>
    <ion-card-title>{{contactName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile, and
    climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<p></p>
<ion-button style="width:90%; margin: auto">Aggiungi a gruppo</ion-button>
