ion-toolbar{
    --background:#50976a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
ion-title{
    color:white;
    font-size: 1.5em;
    margin:0px;
    width: 100%;
}
ion-img{
    width: 40px;
    
}
ion-icon{
    color:white;
}
h2 {
    color: #50976a;
    text-align:center;
  }
  .dinner{
      background: linear-gradient(rgba(80, 151, 106, 0.7) , #fff 100%);
      margin-top:3%;
      border-radius:20px;
  }