<ion-header>
  <ion-toolbar>
    <ion-img src="assets/Logo.png"></ion-img>
    <ion-title>Le mie cene</ion-title>
    <ion-buttons slot="primary">
      <ion-button shape="round" size="large" routerLink="/home/chat" *ngIf="paramsService.getParams().dinnerId">
        <ion-icon size="large" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadDinners($event, true)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="syncInProgress">
    <rd-my-dinner [dinner]="" [isSkeleton]="true"></rd-my-dinner>
    <ion-skeleton-text animated style="width: 50%; margin-left: 1em;"></ion-skeleton-text>
    <div *ngFor="let n of [0,1,2]">
      <rd-my-dinner [dinner]="" [isSkeleton]="true"></rd-my-dinner>
    </div>
  </div>
  <div *ngIf="!syncInProgress">
    <div *ngIf="myDinner">
      <rd-my-dinner (click)="goToDinner(myDinner)" [dinner]="myDinner"></rd-my-dinner>
    </div>
    <h1>Cronologia Cene</h1>
    <div *ngIf="dinnerHistoryList">
      <div *ngFor="let dinner of dinnerHistoryList">
        <rd-my-dinner (click)="goToDinnerWinner(dinner)" [dinner]="dinner"></rd-my-dinner>
      </div>
      <h2 *ngIf="dinnerHistoryList.length === 0">Non sono presenti cene passate</h2>
    </div>
  </div>
</ion-content>