<ion-card>
  <ion-grid>
    <ion-row style="align-items: center;" class="no-padding" *ngIf="contactBadges.length > 0">
      <ion-col>
        <p style="margin: 0%;">Badges</p>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 2%;">
      <ion-col class="no-padding">
        <ion-slides [options]="slideOpts" *ngIf="contactBadges.length > 0">
          <ion-slide *ngFor="let badge of contactBadges">
            <ion-avatar>
              <img [src]=badge.badge_photo />
            </ion-avatar>
          </ion-slide>
        </ion-slides>
        <h3 *ngIf="contactBadges.length === 0" style="text-align: center;">Nessun Badge posseduto</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>