<ion-card>
  <ion-grid>
    <ion-row class="ion-align-items-start no-padding">
      <ion-col class="ion-text-center no-padding">
        <h1>Badge posseduti</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/goldmedal.png" />
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/silvermedal.png" />
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/fish.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/meat.png" />
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/dress.png" />
        </ion-avatar>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-avatar>
          <img class="badge" src="assets/Logo.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
