<div class="wrapper">
  <p>Alle {{dinnerTime}} inizierà la tua <strong>RunningDinner!</strong></p>
  <h3>Cosa devo fare?</h3>
  <p>Nella tua schermata di riepilogo hai tutte le informazioni necessarie</p>
  <p>Presentati alle {{dinnerTime}} alla prima tappa (Mi raccomando, puntuale eh) </p>
  <p>Ogni tappa ha una durata di 40 minuti in cui potrai mangiare il piatto preparato dali altri
    <strong>Runners</strong> e fare la loro conoscenza</p>
  <p>Finito il tempo, riceverai una notifica che ti indicherà che hai mezz'ora per spostarti alla tappa successiva</p>
  <p>Potrai decidere tu se partire subito o attendere, ti basterà consultare il tempo stimato nella pagina della tua
    cena!</p>
  <p style="margin-bottom: 1%;">Completate tutte le tappe sarà il momento della <strong>Votazione</strong></p>
  <p style="margin-top: 0%;">In cui dovrai valutare i <strong>Runners</strong> che ti hanno ospitato per sancire il
    vincitore della
    <strong>RunningDinner!</strong></p>
  <p>I premi sono i seguenti:</p>
  <ul style="padding-left: 6%;">
    <li>Primo classificato: <strong>15 RunningCoins e badge unico della cena</strong></li>
    <li>Secondo classificato: <strong>10 RunningCoins</strong></li>
    <li>Terzo Classificato: <strong>5 RunningCoins</strong></li>
  </ul>
</div>