<ion-content >
<ion-toolbar>
<ion-buttons slot="primary">
  <ion-button routerLink="/auth">
    <ion-icon color="secondary" size="large" name="close-outline"></ion-icon>
  </ion-button>
</ion-buttons>
</ion-toolbar>
  <ion-item>
    <h1 >My first <br> name is</h1> 
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label color='medium'>
      This is how it will appear on RunningDinner
    </ion-label>
  </ion-item>
</ion-content>
<ion-button expand="block" strong=true color='secondary' fill='outline' routerLink="/sign-up/birth-date">Conferma</ion-button>
