<ion-tabs>
  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
    <ion-tab-button tab="contacts">
      <ion-label>Contatti</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dinners">
      <ion-label>Cene</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="my-dinners" routerLink="/home/tabs/my-dinners">
      <ion-label>Le mie cene</ion-label>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>