ion-tab-button{
    background-color: #50976a;
    --color-selected: white;
    --color: lightgrey;
    font-size: 1em;
}
ion-tab-bar{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:8%;
}