<ion-content>
  <ion-grid>
    <ion-row class="firstrow">
      <div class="headerslide">
        <h1 class="titleheader">
          Il tuo numero di telefono non potrà essere visualizzato dagli altri
          utenti.
        </h1>
      </div>
    </ion-row>
    <ion-row class="secondrow">
      <h1 class="titletop">
        il mio <br />
        numero di cellulare
      </h1>
      <ion-col size="4">
        <ion-item class="ion-text-center">
          <ion-input required readonly placeholder="Code" [value]="prefix" (click)="presentModalCountryCodes()">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-input required inputmode="tel" class="ion-text-center" placeholder="Phone number"
            [(ngModel)]="inputNumber"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="secondrowsecond">
      <ion-col size="12" class="ion-text-center">
        <ion-item *ngIf="otpSent">
          <ion-input required placeholder="XXXXX" class="ion-text-center" [(ngModel)]="otp"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label color="medium" *ngIf="!otpSent">
          Ti invieremo un messaggio contenente un codice di verifica. Possono
          applicarsi tariffe per l'invio di messaggi e il trasferimento di dati
        </ion-label>
        <ion-label color="medium" *ngIf="otpSent">
          Inserisci il codice di conferma
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="thirdrow">
      <ion-col class="ion-text-center">
        <ion-button *ngIf="inputNumber && prefix && !otpSent" strong="true" fill="outline" (click)="sendOtp()"
          class="buttonbottom">Verifica</ion-button>
        <ion-button *ngIf="otpSent && otp" expand="block" strong="true" class="buttonbottom" fill="outline"
          (click)="verifyNumber()">Conferma</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="sign-in-button"></div>
</ion-content>