<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="secondary" defaultHref="/sign-up/profile-photo"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
<ion-content>
  <ion-item><h1 >My <br> address is</h1> 
    <ion-label position="floating">Address</ion-label>
    <ion-input [(ngModel)]="autocomplete.input" (keyup)="updateSearchResults()"></ion-input>
  </ion-item>
  <ion-list [hidden]="autocompleteItems.length == 0" *ngFor="let item of autocompleteItems; let i = index">
    <ion-item  *ngIf="i<3" tappable (click)="selectSearchResult(item)">
     {{ item.description }}
    </ion-item>
  </ion-list>
  <!-- <div class="map" #map></div> -->
  <img class="map-preview" [hidden]="!mapPreview" src="{{ mapPreview }}">
  <ion-row style="height: 10%"></ion-row>
</ion-content>
<ion-button [disabled]="!autocomplete.input" expand="block" strong=true color='secondary' fill='outline' (click)="onSignup()">Conferma</ion-button>


