.map-preview{
    justify-content: center;
    width: 50%;
    height: 20%;
    display:flex;
    margin:auto;
    align-items: center;
    border: 3px solid var(--ion-color-secondary);
    border-radius: 2rem;
    margin-top: 2rem;
}